/* マップのスタイル */
#map {
    height: 100vh; /* ビューポートの高さに合わせる */
    width: 100%; /* 幅を100%に設定 */
}

/* 検索バーのスタイル */
#searchArea {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    z-index: 5;
    background: white;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    align-items: center;
}

#searchArea input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
}

#searchArea button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

#mapFilter {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 5;
}

#mapFilter select {
    background: white;
    border: 1px solid #ccc;
    width: 150px;
    border-radius: 25px;
    margin: 25px 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* フッターのスタイル */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 25px 0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
}

.footer button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer button i {
    margin-bottom: 5px;
}

#postFormContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

#postForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#postForm input, #postForm textarea, #postForm select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#postForm input::placeholder,#postForm textarea::placeholder {
    color: lightgray;
}

select option[value=""] {
    color: lightgray;
}

#postForm #storeNamePost {
    margin-top: 5px;
}

#postForm #closePostForm {
    position: absolute;
    top: -8px;
    right: -8px;
    background: gray;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

#postForm #closePostForm:hover {
    background: #d2d0cf;
}

#postForm #submitPost {
    background: orange;
    border: none;
    width: 50%;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 25px auto;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#postForm #submitPost:hover {
    background: #f7893f;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

#customFileBtn {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 5px;
    color: rgb(185, 185, 185);
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
}

#customFileBtn:hover {
    background-color: #e0e0e0;
}

#fileChosen {
    color: rgb(155, 155, 155);
    font-size: 14px;
}

